.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.img-fluid {
    border: 2px solid #000;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
  }

  